# Required Software
mysql == 8.1.0
Python == 3.14.0

# Required Python Libraries
sqlalchemy == 
pandas ==
numpy ==
scipy == mathematical calculations and functions built on NumPy. The stats subpackage enables a variety of statistical calculations.
typing == defines a standard notation for Python function and variable type annotations
sqlalchemy == 
pymysql ==
matplotlib ==
seaborn ==
random ==  

